streamlit==1.45.1
fastapi==0.115.12
uvicorn==0.34.2
python-multipart==0.0.20
python-dotenv==1.1.0
pydantic==2.11.4
httpx==0.28.1
PyMuPDF==1.26.0
sentence-transformers==4.1.0
faiss-cpu==1.11.0
rank-bm25==0.2.2
numpy==1.26.4
langgraph==0.4.5
langchain-core==0.3.60
google-generativeai==0.8.5
groq==0.24.0
tavily-python==0.7.2
orjson==3.10.18
